@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #151518;
    font-family: "Open Sans", sans-serif;
    /*font-family: "Montserrat", sans-serif;*/
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}